<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.co.kr.mapper.RoomMapper">

	<!--select all -->
	<select id="roomList"
		resultType="com.co.kr.domain.RoomListDomain" parameterType="com.co.kr.domain.RoomContentDomain">
		SELECT rm_seq, mb_id, rm_title, rm_content, rm_type, memo, rm_create_at,
		rm_complete_at
		FROM springboot.room 
		order by rm_title
	</select>

	<insert id="rmcontentUpload"
		parameterType="com.co.kr.domain.RoomContentDomain"
		useGeneratedKeys="true" keyProperty="rmSeq" keyColumn="rm_seq">
		INSERT INTO
		springboot.room (
		mb_id,
		rm_title,
		rm_content,
		rm_type,
		memo
		)
		VALUES (
		#{mbId},
		#{rmTitle},
		#{rmContent},
		#{rmType},
		#{rmMemo}
		)
	</insert>

	<insert id="rmfileUpload"
		parameterType="com.co.kr.domain.RoomFileDomain">
		INSERT INTO springboot.rmfiles (
		rm_seq,
		mb_id,
		up_original_file_name,
		up_new_file_name,
		up_file_path,
		up_file_size
		)
		VALUES (
		#{rmSeq},
		#{mbId},
		#{upOriginalFileName},
		#{upNewFileName},
		#{upFilePath},
		#{upFileSize}
		)
	</insert>
	<update id="rmContentUpdate"
		parameterType="com.co.kr.domain.RoomContentDomain">
		UPDATE springboot.room SET
		rm_seq=#{rmSeq},
		mb_id=#{mbId},
		rm_title=#{rmTitle},
		rm_content=#{rmContent},
		rm_type=#{rmType},
		memo = #{rmMemo},
		rm_complete_at=now()
		WHERE rm_seq=#{rmSeq}
	</update>
	<update id="rmFileUpdate"
		parameterType="com.co.kr.domain.RoomFileDomain">
		UPDATE springboot.rmfiles SET
		rm_seq=#{rmSeq},
		mb_id=#{mbId},
		up_original_file_name=#{upOriginalFileName},
		up_new_file_name=#{upNewFileName},
		up_file_path=#{upFilePath},
		up_file_size=#{upFileSize}
		WHERE rm_seq=#{rmSeq}
	</update>
	<delete id="rmContentRemove" parameterType="hashMap">
		DELETE FROM
		springboot.room WHERE rm_seq=#{rmSeq}
	</delete>
	<delete id="rmContentAllRemove" parameterType="hashMap">
		DELETE FROM
		springboot.room where mb_id=#{mbId}
	</delete>
	<delete id="rmFileRemove"
		parameterType="com.co.kr.domain.RoomFileDomain">
		DELETE FROM springboot.rmfiles WHERE rm_seq = #{rmSeq}
	</delete>
	<delete id="rmFileAllRemove" parameterType="hashMap">
		DELETE FROM
		springboot.rmfiles WHERE mb_id = #{mbId}
	</delete>
	<!-- content -->
	<select id="roomSelectOne"
		resultType="com.co.kr.domain.RoomListDomain" parameterType="map">
		SELECT
		rm_seq, mb_id, rm_title, rm_type, rm_content, memo, rm_create_at, rm_complete_at
		FROM
		springboot.room where rm_seq = #{rmSeq}
	</select>

	<!-- file -->
	<select id="roomSelectOneFile"
		resultType="com.co.kr.domain.RoomFileDomain" parameterType="map">
		SELECT
		rm_seq, mb_id, up_original_file_name, up_new_file_name, up_file_path,
		up_file_size
		FROM springboot.view_room where rm_seq = #{rmSeq}
	</select>
</mapper>